$primary: #005ea1;
$primary-container: #2b78bf;
$secondary: #006e1c;
$tertiary: #874e00;
$error: #ba1a1a;
$surface: #faf9fa;
$surface-container: #eeedee;
$on-surface: #1a1c1d;
$on-surface-variant: #414751;
$outline-variant: #c1c7d2;
